.dashboard{
    width: auto;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.blur-background {
    animation: fadeinout 6s linear forwards;
    opacity: 0;
    height: 0;
}

@-webkit-keyframes fadeinout {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 0;}
}

@keyframes fadeinout {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 0;}
}

.blur-background div{
    display: inline;
    position: inherit !important;
}